<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Alex's Free n' Simple QR Codes</h1>
      <p>Get 'em while they're hot ðŸ”¥</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <%= simple_form_for :download, method: :get do |f| %>
        <div class="field">
          <%= f.input :content, label: "Enter any text or URL ðŸ¹", required: true %>
        </div>
      
        <div class="actions">
          <%= f.submit 'Generate QR code & Download ðŸ§',class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
